# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
auto-save-list

# Undo-tree save-files
*.~undo-tree

# packages
el-get
elpa
straight

# Projectile
projectile-bookmarks.eld

# etc
ac-comphist.dat
transient
