# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
auto-save-list

# Undo-tree save-files
*.~undo-tree

# packages
el-get
elpa
straight

# Projectile stuff
projectile-bookmarks.eld
projectile.cache
project

# etc
ac-comphist.dat
transient
customize.el
.org-id-locations
